@import "../../variables.scss";

.HeaderContainer {
  display: flex;
  padding: $PADDING 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: $BORDER;
}

// LOGO IMAGE
.HeaderContainer .LogoBrand {
  display: flex;
  align-items: center;
  gap: $PADDING;
}
.HeaderContainer .LogoBrand img {
  display: inline-block;
  height: 40px;
  border-radius: 50px;
}

.HeaderContainer .LogoBrand span,
.HeaderContainer .LogoBrand span * {
  display: inline-block;
  font-family: $SUB_HEADER_FONT_FAMILY;
  font-size: 25px;
}

// HEADER NAV CONTAINER
.HeaderContainer ul {
  margin: 0;
  padding: 0;
}

// HEADER NAV ITEMS
.HeaderContainer ul a {
  display: inline-block;
  padding: 10px;
  font-weight: 500;
}
