// COLORS
$THEME_COLOR: #f1b104;
$SECONDARY_COLOR: #3a193f;
$DARK_COLOR: #000000;
$LIGHT_COLOR: #ffffff;
$LIGHER_COLOR: #eeeeee;

// BOXES AND SHAPES
$BORDER: 4px solid $DARK_COLOR;

// TYPOGRAPHY
$FONT_FAMILY: "Noto Sans", sans-serif;
$SUB_HEADER_FONT_FAMILY: "Noto Sans Mono", monospace;

$FONT_SIZE: 16px;
$HEADER_FONT_SIZE: 60px;
$SUBHEADER_FONT_SIZE: 20px;
