// COLORS
$THEME_COLOR: #f1b104;
$SECONDARY_COLOR: #3a193f;
$DARK_COLOR: #000000;
$LIGHT_COLOR: #ffffff;
$LIGHER_COLOR: #eeeeee;

// BOXES AND SHAPES
$PADDING: 20px;
$BORDER: 4px solid $DARK_COLOR;
$BORDER_THIN: 2px solid $DARK_COLOR;
$BORDER_RADIUS: 30px;
$PAGE_MARGINS: 150px;

// TYPOGRAPHY
$FONT_FAMILY: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$SUB_HEADER_FONT_FAMILY: "Noto Sans Mono", source-code-pro, Menlo, Monaco,
  Consolas, "Courier New", monospace;

$FONT_SIZE: 15.5px;
$HEADER_FONT_SIZE: 50px;
$SUBHEADER_FONT_SIZE: 20px;
